/* body */
body {
  margin: 0;
  font-family: "Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

/* Main */
main {
  width: 700px;
  margin: 60px auto;
}

main .new-user-button {
  display: block;
  text-align: center;
}

main [no-user],
main [loading] {
  text-align: center;
}

/* UserCard */
.user-card {
  display: block;
  box-sizing: border-box;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: 20px 10px;
  margin: 18px;
  border-radius: 2px;
}

.user-card .user-avatar-container {
  text-align: center;
}
.user-card .user-avatar-container img {
  height: 128px;
  width: 128px;
  border-radius: 50%;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

.user-card .user-properties {
  margin-top: 20px;
  font-size: 1.2em;
}


/* ru-button */
.ru-button {
  box-shadow: none;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  text-shadow: none;
  border: none;

  display: inline-block;
  vertical-align: middle;
  height: 32px;
  line-height: 30px;
  padding: 0 25px;
  font-weight: 300;
  font-size: 16px;
  font-family: "Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  color: #666;
  margin: 0;
  text-decoration: none;
  text-align: center;
}

.ru-button:hover,
.ru-button:active {
  cursor: pointer;
}

.ru-button.\--primary {
  background-color: #19A2C9;
  color: white;
}

.ru-button.\--primary:hover,
.ru-button.\--primary:active {
  background-color: #00b5e5;
}

#footer {
  background-color: #f5f5f5;
  text-align: center;
  padding: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
  font-size: 0.8em;
}
